<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Restaurant catalogue for you">
  <meta name="theme-color" content="#DB0000"/>
  
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="icon" href="./favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

  <title>In Ur Face Restaurant</title>
</head>
<body>
  <a href="#mainContent" class="skip-link" tabindex="0">Menuju ke konten</a>
<header class="app-bar">
  <div class="app-bar__menu">
    <button id="hamburgerButton" class="headerMenu" tabindex="0">☰</button>
  </div>
  <div class="app-bar__brand">
    <h1>Zenith Dinner</h1>
  </div>
  <nav id="navigationDrawer" class="app-bar__navigation">
    <ul>
      <li class="navItem"><a href="/" tabindex="0">Home</a></li>
      <li><a href="#/favorite" tabindex="0">Favorite</a></li>
      <li><a href="https://www.linkedin.com/in/octaviadamai/" tabindex="0">About us</a></li>
    </ul>
  </nav>
</header>
<main id="mainContent" tabindex="0">
</main>
<footer class="footer" role="contentinfo">
  <p>&copy; 2024 - Zenith Dinner</p>
</footer>
</body>
</html>
